<!-- Upcoming Events -->
{% for event in site.data.events %}
{% if event.type ==  "One Day Meeting" %}
<div class="col-sm-6 event-link" style="max-height: 23em; padding-left: 10px; padding-right: 10px;">

<div class="panel panel-default">
<h4 class="panel-heading"><a href="{{event.link}}">{{ event.title }}</a><br><i style="display: inline-block; margin-top: 5px; font-size: 0.95em;">{{ event.date | date: '%d %B %Y' }}</i></h4><!--style="font-size: 0.95em;"-->
<div class="panel-body top-1" markdown="1">
<!--<p style="border-bottom: 1px solid #eee; margin-bottom: 10px;">-->
<p><b>Chairs: </b>{{ event.organisers }}</p>
<div style="padding: 10px 10px; padding-bottom: 0px; height: 11em; text-align: center;">
{% if event.image %}
<img style="max-height: 10em; display: inline-block;" src="{{event.image}}" class="img-responsive">
{% else %}
<img style="padding: 10px 10px; padding-bottom: 0px; max-height: 10em; width: auto;" src="/img/events/placeholder.png" class="img-responsive">
{% endif %}
</div>
</div>
</div>

</div>
{% endif %}
{% endfor %}
